<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery Delivery App Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-content>
  <div id="sign-in-button"></div>
  <div class="login_style_one" *ngIf="util.register_style == 1"
    [ngStyle]="{'background': 'url(assets/imgs/login/login1.jpg)'}">
    <div class="white_box">
      <div class="logo_div">
        <img src="" onError="this.src='assets/imgs/logo.png'" alt="">
        <ion-label> {{util.appName}} </ion-label>
      </div>
      <form #loginForm="ngForm" novalidate class="animated animatedFadeInUp fadeInUp">
        <ion-label class="welcome_lbl">{{util.translate('Welcome')}}</ion-label>
        <ion-label class="small_lbl">{{util.translate('Please enter your details')}}</ion-label>

        <ion-input [(ngModel)]="register.email" type="email" name="email" #email="ngModel" spellcheck="false"
          autocapitalize="off" required [placeholder]="util.translate('Email')"> </ion-input>

        <ion-text color="danger">
          <p [hidden]="email.valid || submitted == false">
            {{util.translate('Email is required')}}
          </p>
        </ion-text>
        <ion-input [(ngModel)]="register.password" name="password" type="password" #password="ngModel" required
          [placeholder]="util.translate('Password')">
        </ion-input>

        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false">
            {{util.translate('Password is required')}}
          </p>
        </ion-text>

        <ion-input [(ngModel)]="register.first_name" type="text" name="full_name" #full_name="ngModel"
          spellcheck="false" autocapitalize="off" required [placeholder]="util.translate('First Name')"></ion-input>

        <ion-text color="danger">
          <p [hidden]="full_name.valid || submitted == false">
            {{util.translate('First Name is required')}}
          </p>
        </ion-text>

        <ion-input [(ngModel)]="register.last_name" type="text" name="lname" #lname="ngModel" spellcheck="false"
          autocapitalize="off" required [placeholder]="util.translate('Last Name')"></ion-input>

        <ion-text color="danger">
          <p [hidden]="lname.valid || submitted == false">
            {{util.translate('Last Name is required')}}
          </p>
        </ion-text>


        <ion-row>
          <ion-col size="3" (click)="openCountry()" class="cc_col">
            <ion-input style="font-size: 12px;" [(ngModel)]="register.country_code" disabled="true" type="text"
              name="ccode" #ccode="ngModel" spellcheck="false" autocapitalize="off" required placeholder="+1"
              style="margin-top: 5px !important;">
            </ion-input>
          </ion-col>
          <ion-col size="9" class="mobile_col">
            <ion-input [(ngModel)]="register.mobile" [placeholder]="util.translate('Mobile Number')" type="number"
              style="margin-top: 5px !important;" name="mobile" #phone="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
            <ion-text color="danger">
              <p [hidden]="phone.valid || submitted == false">
                {{util.translate('Phone number is required')}}
              </p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-input [(ngModel)]="register.referral_code" type="text" name="referral" #referral="ngModel"
          spellcheck="false" autocapitalize="off" [placeholder]="util.translate('Referral Code (Optional)')">
        </ion-input>

        <div class="div_chk">
          <ion-checkbox [checked]="register.check" name="check" #check="ngModel" [(ngModel)]="register.check"
            color="light" class="chk">
          </ion-checkbox>
          <ion-label class="lbl_police"><span class="span_term">
              {{
              util.translate(getString())}}
            </span>
            <u> <a style="color:white" (click)="open('eula')"> {{util.translate('Terms & Conditions')}} </a> </u>
            {{util.translate('and')}}
            <u> <a style="color:white" (click)="open('privacy')"> {{util.translate('Privacy Policy')}} </a> </u>
            {{util.translate('of this app.')}}
          </ion-label>
        </div>

        <div style="text-align: center;">
          <ion-button (click)="onRegister(loginForm)" class="block_btn" [disabled]="isLogin">
            <span *ngIf="!isLogin"> {{util.translate('Sign Up')}}</span>
            <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
          </ion-button>
        </div>
      </form>


      <div class="ion-activatable ripple-parent animated animatedFadeInUp fadeInUp"
        style="position: relative;padding: 10px;margin-top: 20px;">
        <ion-label (click)="onLogin()" class="reg_lbl">{{util.translate("Already have an account?")}}
          <span>{{util.translate('Sign In')}}</span>
        </ion-label>
        <ion-ripple-effect type="bounded" style="border-radius: 25px;"></ion-ripple-effect>
      </div>

    </div>

  </div>

  <div class="login_style_two" *ngIf="util.register_style == 2">
    <div class="item-content">
      <div class="logo_div">
        <img src="" onError="this.src='assets/imgs/logo_color.png'" alt="">
        <ion-label> {{util.appName}} </ion-label>
      </div>

      <form #loginForm="ngForm" novalidate class="animated animatedFadeInUp fadeInUp">
        <ion-label class="welcome_lbl">{{util.translate('Welcome')}}</ion-label>
        <ion-label class="small_lbl">{{util.translate('Please enter your details')}}</ion-label>

        <ion-item lines="none" class="border-item" style="margin-top: 40px;">
          <ion-input [(ngModel)]="register.email" type="email" name="email" #email="ngModel" spellcheck="false"
            autocapitalize="off" required [placeholder]="util.translate('Email')"> </ion-input>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="email.valid || submitted == false">
            {{util.translate('Email is required')}}
          </p>
        </ion-text>

        <ion-item lines="none" class="border-item">
          <ion-input [(ngModel)]="register.password" name="password" [type]="viewPassword== true?'text':'password'"
            #password="ngModel" required [placeholder]="util.translate('Password')">
          </ion-input>
          <ion-icon slot="end" color="primary" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'"
            (click)="changeType()">
          </ion-icon>
        </ion-item>

        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false">
            {{util.translate('Password is required')}}
          </p>
        </ion-text>
        <ion-item lines="none" class="border-item">
          <ion-input [(ngModel)]="register.first_name" type="text" name="full_name" #full_name="ngModel"
            spellcheck="false" autocapitalize="off" required [placeholder]="util.translate('First Name')"></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="full_name.valid || submitted == false">
            {{util.translate('First Name is required')}}
          </p>
        </ion-text>
        <ion-item lines="none" class="border-item">
          <ion-input [(ngModel)]="register.last_name" type="text" name="lname" #lname="ngModel" spellcheck="false"
            autocapitalize="off" required [placeholder]="util.translate('Last Name')"></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="lname.valid || submitted == false">
            {{util.translate('Last Name is required')}}
          </p>
        </ion-text>

        <ion-row>
          <ion-col size="3" (click)="openCountry()" class="cc_col">
            <ion-item lines="none" class="border-item">
              <ion-input style="font-size: 12px;" [(ngModel)]="register.country_code" disabled="true" type="text"
                name="ccode" #ccode="ngModel" spellcheck="false" autocapitalize="off" required placeholder="+1"
                style="margin-top: 5px !important;">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="9" class="mobile_col">
            <ion-item lines="none" class="border-item">
              <ion-input [(ngModel)]="register.mobile" [placeholder]="util.translate('Mobile Number')" type="number"
                style="margin-top: 5px !important;" name="mobile" #phone="ngModel" spellcheck="false"
                autocapitalize="off" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger">
              <p [hidden]="phone.valid || submitted == false">
                {{util.translate('Phone number is required')}}
              </p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-item lines="none" class="border-item">
          <ion-input [(ngModel)]="register.referral_code" type="text" name="referral" #referral="ngModel"
            spellcheck="false" autocapitalize="off" [placeholder]="util.translate('Referral Code (Optional)')">
          </ion-input>
        </ion-item>

        <div class="div_chk">
          <ion-checkbox [checked]="register.check" name="check" #check="ngModel" [(ngModel)]="register.check"
            color="light" class="chk">
          </ion-checkbox>
          <ion-label class="lbl_police"><span class="span_term">
              {{
              util.translate(getString())}}
            </span>
            <u> <a style="color:black" (click)="open('eula')"> {{util.translate('Terms & Conditions')}} </a> </u>
            {{util.translate('and')}}
            <u> <a style="color:black" (click)="open('privacy')"> {{util.translate('Privacy Policy')}} </a> </u>
            {{util.translate('of this app.')}}
          </ion-label>
        </div>

        <div style="text-align: center; margin-top: 20px;">
          <ion-button (click)="onRegister(loginForm)" class="block_btn" [disabled]="isLogin">
            <span *ngIf="!isLogin"> {{util.translate('Sign Up')}}</span>
            <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
          </ion-button>
        </div>
      </form>


      <div class="ion-activatable ripple-parent animated animatedFadeInUp fadeInUp"
        style="position: relative;padding: 10px;margin-top: 20px;">
        <ion-label (click)="onLogin()" class="reg_lbl">{{util.translate("Already have an account?")}}
          <span>{{util.translate('Sign In')}}</span>
        </ion-label>
        <ion-ripple-effect type="bounded" style="border-radius: 25px;"></ion-ripple-effect>
      </div>

    </div>
  </div>

  <div class="login_style_three" *ngIf="util.register_style == 3">
    <div class="main_content_div">

      <div class="logo_div">
        <img src="" onError="this.src='assets/imgs/logo.png'" alt="">
        <ion-label> {{util.appName}} </ion-label>
      </div>

      <div class="white_box animated animatedFadeInUp fadeInUp">
        <form #loginForm="ngForm" novalidate>
          <ion-label class="welcome_lbl">{{util.translate('Welcome')}}</ion-label>
          <ion-label class="small_lbl">{{util.translate('Please enter your details')}}</ion-label>
          <ion-item>
            <ion-label position="floating">{{util.translate('Email Address')}}</ion-label>
            <ion-input [(ngModel)]="register.email" type="email" name="email" #email="ngModel" spellcheck="false"
              autocapitalize="off" required> </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="email.valid || submitted == false">
              {{util.translate('Email is required')}}
            </p>
          </ion-text>
          <ion-item>
            <ion-label position="floating">{{util.translate('Password')}}</ion-label>
            <ion-input [(ngModel)]="register.password" name="password" [type]="viewPassword== true?'text':'password'"
              #password="ngModel" required>
            </ion-input>
            <ion-icon slot="end" color="primary" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'"
              (click)="changeType()">
            </ion-icon>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="password.valid || submitted == false">
              {{util.translate('Password is required')}}
            </p>
          </ion-text>

          <ion-item>
            <ion-label position="floating">{{util.translate('First Name')}}</ion-label>
            <ion-input [(ngModel)]="register.first_name" type="text" name="full_name" #full_name="ngModel"
              spellcheck="false" autocapitalize="off" required></ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="full_name.valid || submitted == false">
              {{util.translate('First Name is required')}}
            </p>
          </ion-text>
          <ion-item>
            <ion-label position="floating">{{util.translate('Last Name')}}</ion-label>
            <ion-input [(ngModel)]="register.last_name" type="text" name="lname" #lname="ngModel" spellcheck="false"
              autocapitalize="off" required></ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="lname.valid || submitted == false">
              {{util.translate('Last Name is required')}}
            </p>
          </ion-text>
          <ion-row>
            <ion-col size="3" (click)="openCountry()">
              <ion-item>
                <ion-input style="font-size: 12px;" [(ngModel)]="register.country_code" disabled="true" type="text"
                  name="ccode" #ccode="ngModel" spellcheck="false" autocapitalize="off" required placeholder="+1">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="9">
              <ion-item>
                <ion-input [(ngModel)]="register.mobile" [placeholder]="util.translate('Mobile Number')" type="number"
                  name="mobile" #phone="ngModel" spellcheck="false" autocapitalize="off" required>
                </ion-input>
              </ion-item>
              <ion-text color="danger">
                <p [hidden]="phone.valid || submitted == false">
                  {{util.translate('Phone number is required')}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-item>
            <ion-label position="floating">{{util.translate('Referral Code (Optional)')}}</ion-label>
            <ion-input [(ngModel)]="register.referral_code" type="text" name="referral" #referral="ngModel"
              spellcheck="false" autocapitalize="off"></ion-input>
          </ion-item>

          <div class="div_chk">
            <ion-checkbox [checked]="register.check" name="check" #check="ngModel" [(ngModel)]="register.check"
              color="light" class="chk">
            </ion-checkbox>
            <ion-label class="lbl_police"><span class="span_term">
                {{
                util.translate(getString())}}
              </span>
              <u> <a style="color:black" (click)="open('eula')"> {{util.translate('Terms & Conditions')}} </a> </u>
              {{util.translate('and')}}
              <u> <a style="color:black" (click)="open('privacy')"> {{util.translate('Privacy Policy')}} </a> </u>
              {{util.translate('of this app.')}}
            </ion-label>
          </div>

          <div style="text-align: center;" style="margin-top: 20px;">
            <ion-button (click)="onRegister(loginForm)" class="block_btn" [disabled]="isLogin">
              <span *ngIf="!isLogin"> {{util.translate('Sign Up')}}</span>
              <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
            </ion-button>
          </div>
        </form>
      </div>

      <div class="ion-activatable ripple-parent" style="position: relative;padding: 10px;">
        <ion-label (click)="onLogin()" class="reg_lbl">{{util.translate("Already have an account?")}}
          <span>{{util.translate('Sign In')}}</span>
        </ion-label>
        <ion-ripple-effect type="bounded" style="border-radius: 25px;"></ion-ripple-effect>
      </div>

    </div>
  </div>

  <div class="login_style_four" *ngIf="util.register_style == 4">
    <div class="main_content_div">

      <div class="logo_div">
        <img src="" onError="this.src='assets/imgs/logo.png'" alt="">
        <ion-label> {{util.appName}} </ion-label>
      </div>

      <div class="white_box animated animatedFadeInUp fadeInUp">
        <form #loginForm="ngForm" novalidate>
          <ion-label class="welcome_lbl">{{util.translate('Welcome')}}</ion-label>
          <ion-label class="small_lbl">{{util.translate('Please enter your details')}}</ion-label>
          <ion-item>
            <ion-label position="floating">{{util.translate('Email Address')}}</ion-label>
            <ion-input [(ngModel)]="register.email" type="email" name="email" #email="ngModel" spellcheck="false"
              autocapitalize="off" required> </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="email.valid || submitted == false">
              {{util.translate('Email is required')}}
            </p>
          </ion-text>
          <ion-item>
            <ion-label position="floating">{{util.translate('Password')}}</ion-label>
            <ion-input [(ngModel)]="register.password" name="password" [type]="viewPassword== true?'text':'password'"
              #password="ngModel" required>
            </ion-input>
            <ion-icon slot="end" color="primary" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'"
              (click)="changeType()">
            </ion-icon>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="password.valid || submitted == false">
              {{util.translate('Password is required')}}
            </p>
          </ion-text>

          <ion-item>
            <ion-label position="floating">{{util.translate('First Name')}}</ion-label>
            <ion-input [(ngModel)]="register.first_name" type="text" name="full_name" #full_name="ngModel"
              spellcheck="false" autocapitalize="off" required></ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="full_name.valid || submitted == false">
              {{util.translate('First Name is required')}}
            </p>
          </ion-text>
          <ion-item>
            <ion-label position="floating">{{util.translate('Last Name')}}</ion-label>
            <ion-input [(ngModel)]="register.last_name" type="text" name="lname" #lname="ngModel" spellcheck="false"
              autocapitalize="off" required></ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="lname.valid || submitted == false">
              {{util.translate('Last Name is required')}}
            </p>
          </ion-text>
          <ion-row>
            <ion-col size="3" (click)="openCountry()">
              <ion-item>
                <ion-input style="font-size: 12px;" [(ngModel)]="register.country_code" disabled="true" type="text"
                  name="ccode" #ccode="ngModel" spellcheck="false" autocapitalize="off" required placeholder="+1">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="9">
              <ion-item>
                <ion-input [(ngModel)]="register.mobile" [placeholder]="util.translate('Mobile Number')" type="number"
                  name="mobile" #phone="ngModel" spellcheck="false" autocapitalize="off" required>
                </ion-input>
              </ion-item>
              <ion-text color="danger">
                <p [hidden]="phone.valid || submitted == false">
                  {{util.translate('Phone number is required')}}
                </p>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-item>
            <ion-label position="floating">{{util.translate('Referral Code (Optional)')}}</ion-label>
            <ion-input [(ngModel)]="register.referral_code" type="text" name="referral" #referral="ngModel"
              spellcheck="false" autocapitalize="off"></ion-input>
          </ion-item>

          <div class="div_chk">
            <ion-checkbox [checked]="register.check" name="check" #check="ngModel" [(ngModel)]="register.check"
              color="light" class="chk">
            </ion-checkbox>
            <ion-label class="lbl_police"><span class="span_term">
                {{
                util.translate(getString())}}
              </span>
              <u> <a style="color:black" (click)="open('eula')"> {{util.translate('Terms & Conditions')}} </a> </u>
              {{util.translate('and')}}
              <u> <a style="color:black" (click)="open('privacy')"> {{util.translate('Privacy Policy')}} </a> </u>
              {{util.translate('of this app.')}}
            </ion-label>
          </div>

          <div style="text-align: center; margin-top: 20px;">
            <ion-button (click)="onRegister(loginForm)" class="block_btn" [disabled]="isLogin">
              <span *ngIf="!isLogin"> {{util.translate('Sign In')}}</span>
              <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
            </ion-button>
          </div>
        </form>
      </div>

      <div class="ion-activatable ripple-parent" style="position: relative;padding: 10px;">
        <ion-label (click)="onLogin()" class="reg_lbl">{{util.translate("Already have an account")}}
          <span>{{util.translate('Sign In')}}</span>
        </ion-label>
        <ion-ripple-effect type="bounded" style="border-radius: 25px;"></ion-ripple-effect>
      </div>

    </div>
  </div>

</ion-content>